.off-days-sec {
    position: relative;
}
.inline-bg-img > img{
	display: none;
}
.off-days-sec .container{
	position: relative;
	z-index: 9999
}
.indexing {
    z-index: 9;
    position: relative;
}
.events-grid-sec .container{
	position: relative;
	z-index: 99999;
}
.off-days-sec:before {
    background: linear-gradient(180deg, #FFFFFF 0%, #F1F5F8 100%), #F8FAFB;
    opacity: 1;
    position: absolute;
    content: "";
    width: 100%;
    height: 765px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    margin-bottom: -195px;
}
.bv-calender-inner{
	display: flex;
}
.bv-calender-dsc{
	max-width: 51%;
	width: 100%;
}
.bv-calender-dsc-inner {
    padding-right: 110px;
    padding-top: 60px;
}
.bv-calender-img{
	max-width: 49%;
	width: 100%;
}
.bv-calender-dsc-inner h2{
	font-weight: 700;
	font-style: normal;
	font-size: 36px;
	text-transform: uppercase;
	color: #2C113E;
}
.bv-calender-dsc-inner p{
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #909BA5;
	margin: 0;
}
.inline-bg-img{
	position: relative;
	height: 629px;
}
.bv-clndr-absolute-img-one{
	position: absolute;
	left: 0;
	bottom: 0;
	margin-bottom: 152px;
    margin-left: -50px;
}
.bv-clndr-absolute-img-two{
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 540px;
	margin-right: -140px;
}
.events-grid-sec{
	position: relative;
	padding-top: 190px;
}
.events-grid-item-inner{
	padding-bottom: 70px;
}
.events-grid-item-inner ul{
	display: flex;
	flex-wrap: wrap;
	margin: -25px -13px;
}
.events-grid-item-inner ul li{
	max-width: 50%;
	width: 100%;
	padding: 25px 13px;
}
.events-grid-item-inner ul li .event-grid-item-inr{
	background: #FFFFFF;
	box-shadow: 0px 30px 84px rgba(44, 17, 62, 0.09);
	-moz-box-shadow: 0px 30px 84px rgba(44, 17, 62, 0.09);
	-webkit-box-shadow: 0px 30px 84px rgba(44, 17, 62, 0.09);
	border-radius: 3px;
	padding: 31px 35px 35px;
	position: relative;
}
.events-grid-item-inner ul li .event-grid-item-inr:before{
	position: absolute;
	content: "";
	height: 80px;
	width: 6px;
	left: 0;
	top: 0;
	margin-top: 13px;
	background-color: #C1E2C4;
}
.events-grid-item-inner ul li:nth-child(1) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(7) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(13) .event-grid-item-inr:before{
	background-color: #C1E2C4!important;
}
.events-grid-item-inner ul li:nth-child(2) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(8) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(14) .event-grid-item-inr:before{
	background-color: #FDCA35!important;
}
.events-grid-item-inner ul li:nth-child(3) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(9) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(15) .event-grid-item-inr:before{
	background-color: #E70047!important;	
}
.events-grid-item-inner ul li:nth-child(4) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(10) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(16) .event-grid-item-inr:before{
	background-color: #1DB4B2 !important;	
}
.events-grid-item-inner ul li:nth-child(5) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(11) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(17) .event-grid-item-inr:before{
	background-color: #F5BCB1!important;	
}
.events-grid-item-inner ul li:nth-child(6) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(12) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(18) .event-grid-item-inr:before{
	background-color: #C1E2C4!important;	
}
.event-grid-item-inr h3 a{
	font-style: normal;
	font-weight: 700;
	color: #2C113E;
}
.event-grid-item-inr h3:hover a{
	color: #EE3E15;
}
.event-grid-heading{
	margin-bottom: 13px;
}
.event-date {
	position: relative;
}
.event-date span{
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	color: #EE3E15;
	display: inline-block;
	margin-bottom: 30px;
	padding-left: 33px;
}
.event-date i{
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: -1px;
}
.event-grid-item-inr p{
	font-size: 16px;
	color: #909BA5;
}
.events-grid-item-inner ul li .event-grid-item .event-grid-item-inr p:last-of-type {
    margin-bottom: 0;
}
.has-no-events{
	padding-bottom: 195px;
}
.has-no-events .events-grid-sec{
	display: none;
}
.events-grid-sec .white-sky-bg {
    top: -185px;
    height: 382px;
}
/*---------------------------------------------------reponsive--------------------------------------------------------*/
/*---------------------------------------------------reponsive--------------------------------------------------------*/
@media (max-width: 1699px){
	.bv-calender-dsc-inner {
	    padding-right: 55px;
	    padding-top: 60px;
	}
	.bv-clndr-absolute-img-two img {
	    height: auto;
	    width: 180px;
	}	
	.bv-clndr-absolute-img-two {
	    margin-right: -107px;
	    margin-top: 510px;
	}
	.off-days-sec:before {
	    height: 710px;
	}
	.no-events-show .off-days-sec {
	    padding-bottom: 150px;
	}
	.inline-bg-img {
	    height: 570px;
	}
	.events-grid-item-inner ul li .event-grid-item-inr{
		padding: 31px 29px 35px;
	}
	.off-days-sec .white-sky-bg {
	    top: 538px;
	}
	.events-grid-sec{
		padding-top: 150px;
	}
	.event-date span{
		margin-bottom: 15px;
	}
}


/*@media(max-width: 1199px){
	.inline-bg-img {
	    height: 525px;
	}
	.events-grid-sec .white-sky-bg {
	}
	.bv-clndr-absolute-img-two {
	    margin-right: -13px;
	    margin-top: 495px;
	}
	.off-days-sec:before {
	    height: 585px;
	}
	.bv-clndr-absolute-img-two img {
	    height: auto;
	    width: 125px;
	}
	.events-grid-item-inner ul li .event-grid-item-inr {
	    padding: 24px 20px 27px;
	}
	.event-date span {
	    margin-bottom: 10px;
	}
	.no-events-show .off-days-sec {
	    padding-bottom: 117px;
	}
	.events-grid-sec {
	    padding-top: 120px;
	}
}
@media(max-width: 991px){
	.events-grid-sec .white-sky-bg {
	    top: -182px;
	}
	.off-days-sec:before {
	    height: 535px;
	}
	.bv-clndr-absolute-img-two {
	    margin-right: 0px;
	    margin-top: 445px;
	}
	
	.bv-clndr-absolute-img-two img {
	    height: auto;
	    width: 120px;
	}
	.inline-bg-img {
	    height: 475px;
	}
	.bv-calender-dsc-inner h2 {
	    font-size: 32px;
	}
	.events-grid-item-inner ul li .event-grid-item-inr {
	    padding: 24px 25px 27px;
	}
}
@media(max-width: 767px){
	.bv-calender-inner {
		justify-content: center;
		flex-wrap: wrap;
	}
	.bv-calender-dsc-inner {
	    padding-right: 0;
	    padding-top: 0;
	    display: none;
	}
	.bv-calender-dsc {
	    margin-bottom: 30px;
	}
	.bv-clndr-absolute-img-one{
		display: none;
	}
	.bv-calender-img, .bv-calender-dsc{
		max-width: 100%;
	}
	.bv-calender-img{
		display: none;
	}
	.off-days-sec:before {
	    height: 670px;
	}
	.off-days-sec {
		padding-bottom: 180px;
	}
	.events-grid-sec {
	    padding-bottom: 0;
	}
	.events-grid-sec .white-sky-bg {
	    top: -170px;
	}
	.bv-calender-dsc-inner h2 {
	    font-size: 30px;
	}
	.bv-clndr-absolute-img-two {
	    margin-right: 0;
	    margin-top: 460px;
	}
	.events-grid-item-inner ul {
	    margin: -20px -13px;
	}
	.events-grid-item-inner ul li{
		padding: 20px 13px;
		max-width: 100%;
	}
	.event-grid-item-inr p {
		line-height: 1.3;
	}
	.events-grid-item-inner ul li .event-grid-item-inr {
	    padding: 33px 30px 27px;
	    padding-right: 15px;
	}
	.events-grid-item-inner ul li:first-child{
		padding-top: 0;
	}
	.events-grid-item-inner ul li:last-of-type{
		padding-bottom: 0;
	}
	.events-grid-item-inner ul{
		margin: -15px 0;
	}
	.events-grid-item-inner ul li {
	    max-width: 100%;
	    padding: 15px 0;
	}
}
@media(max-width: 575px){
	.bv-calender-dsc-inner h2 {
	    font-size: 26px;
	}
	.event-grid-item-inr p {
	    line-height: 1.2;
	}
}

@media(max-width: 479px){


}

@media(max-width: 359px){
	.event-grid-heading {
	    font-size: 20px!important;
	}

}
*/
