.off-days-sec {
    position: relative;
}
.inline-bg-img > img{
	display: none;
}
.bv-calender-sec-cntlr{
	position: relative;
	z-index: 3;
}
.off-days-sec:before {
    background: linear-gradient(180deg, #FFFFFF 0%, #F1F5F8 100%), #F8FAFB;
    opacity: 1;
    position: absolute;
    content: "";
    width: 100%;
    height: 765px;
    left: 0;
    right: 0;
    bottom: -195px;
    z-index: 0;
}
.bv-calender-inner{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.bv-calender-dsc{
	max-width: 51%;
	width: 100%;
	padding-right: 110px;
}
.bv-calender-dsc-inner {
    padding-top: 60px;
    padding-bottom: 17px;
}
.bv-calnender{
}
.bv-calender-iner{
	-webkit-box-shadow: 0px 10px 23px -2px rgba(229,229,229,1);
-moz-box-shadow: 0px 10px 23px -2px rgba(229,229,229,1);
box-shadow: 0px 10px 23px -2px rgba(229,229,229,1)
	position: relative;
	border-radius: 3px;
}
.bv-calender-img{
	max-width: 49%;
	width: 100%;
}
.bv-calender-dsc-inner h2{
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	color: #2C113E;
	margin-bottom: 40px;
}
.bv-calender-dsc-inner p{
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #909BA5;
}
.inline-bg-img{
	position: relative;
	height: 629px;
}
.bv-clndr-absolute-img-one{
	position: absolute;
	left: 0;
	bottom: 0;
	margin-bottom: 152px;
    margin-left: -50px;
}
.bv-clndr-absolute-img-two{
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 540px;
	margin-right: -140px;
}
.events-grid-sec{
	position: relative;
	padding-top: 190px;
}
.events-grid-cntlr{
	position: relative;
	z-index: 3;
}
.events-grid-item-inner{
	padding-bottom: 20px;
}
.events-grid-item-inner ul{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -13px;
}
.events-grid-item-inner ul li{
	max-width: 50%;
	width: 100%;
	padding: 0 13px 50px;
}
.events-grid-item-inner ul li .event-grid-item-inr{
	background: #FFFFFF;
-webkit-box-shadow: 0px 0px 40px 5px rgba(229,229,229,1);
-moz-box-shadow: 0px 0px 40px 5px rgba(229,229,229,1);
box-shadow: 0px 0px 40px 5px rgba(229,229,229,1);
	border-radius: 3px;
	padding: 31px 35px 35px;
	position: relative;
}
.events-grid-item-inner ul li .event-grid-item-inr:before{
	position: absolute;
	content: "";
	height: 80px;
	width: 6px;
	left: 0;
	top: 0;
	margin-top: 13px;
	background-color: #C1E2C4;
}
.events-grid-item-inner ul li:nth-child(1) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(7) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(13) .event-grid-item-inr:before{
	background-color: #C1E2C4!important;
}
.events-grid-item-inner ul li:nth-child(2) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(8) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(14) .event-grid-item-inr:before{
	background-color: #FDCA35!important;
}
.events-grid-item-inner ul li:nth-child(3) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(9) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(15) .event-grid-item-inr:before{
	background-color: #E70047!important;	
}
.events-grid-item-inner ul li:nth-child(4) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(10) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(16) .event-grid-item-inr:before{
	background-color: #1DB4B2 !important;	
}
.events-grid-item-inner ul li:nth-child(5) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(11) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(17) .event-grid-item-inr:before{
	background-color: #F5BCB1!important;	
}
.events-grid-item-inner ul li:nth-child(6) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(12) .event-grid-item-inr:before,
.events-grid-item-inner ul li:nth-child(18) .event-grid-item-inr:before{
	background-color: #C1E2C4!important;	
}
.event-grid-item-inr h3 a{
	font-style: normal;
	font-weight: 700;
	color: #2C113E;
}
.event-grid-item-inr h3:hover a{
	color: #EE3E15;
}
.event-grid-heading{
	margin-bottom: 20px;
}
.event-date {
	position: relative;
}
.event-date span{
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	color: #EE3E15;
	display: inline-block;
	margin-bottom: 30px;
	padding-left: 33px;
}
.event-date i{
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: -3px;
}
.event-grid-item-inr p{
	font-size: 16px;
	color: #909BA5;
}
.events-grid-item-inner ul li .event-grid-item .event-grid-item-inr p:last-of-type {
    margin-bottom: 0;
}
.has-no-events{
	padding-bottom: 195px;
}
.has-no-events .events-grid-sec{
	display: none;
}
.events-grid-sec .white-sky-bg {
    top: -185px;
    height: 382px;
}
.calender-inline-bg{
	position: relative;
	height: 370px;
	border-radius: 3px;
}
.calender-inline-bg span{
	display: inline-block;
}
.calender-inline-bg span{
	position: absolute;
	right: -20px;
	bottom: -119px;
}







@media (max-width: 1699px){
	.bv-calender-dsc-inner {
	    padding-top: 40px;
	}
	.bv-clndr-absolute-img-two img {
	    height: auto;
	    width: 180px;
	}	
	.bv-clndr-absolute-img-two {
	    margin-right: -107px;
	    margin-top: 510px;
	}
	.off-days-sec:before {
	    height: 728px;
	}
	.no-events-show .off-days-sec {
	    padding-bottom: 150px;
	}
	.inline-bg-img {
	    height: 570px;
	}
	.events-grid-item-inner ul li .event-grid-item-inr{
		padding: 31px 29px 35px;
	}
	.off-days-sec .white-sky-bg {
	    top: 538px;
	}
	.events-grid-sec{
		padding-top: 150px;
	}
	.event-date span{
		margin-bottom: 15px;
	}
	.calender-inline-bg {
	    height: 315px;
	}
	.event-grid-heading {
	    margin-bottom: 15px;
	}
	.bv-calender-dsc-inner h2{
		margin-bottom: 25px;
	}	
}
@media(max-width: 1599px){
	.event-date span{
		font-size: 15px;
	}
}
@media(max-width: 1399px){
	.bv-clndr-absolute-img-two {
	    margin-right: -85px;
	    margin-top: 542px;
	}
	.bv-clndr-absolute-img-two img {
	    height: auto;
	    width: 144px;
	}
}
@media(max-width: 1299px){
	.bv-clndr-absolute-img-two {
	    margin-right: -34px;
	    margin-top: 542px;
	}
	.bv-calender-dsc-inner {
	    padding-top: 20px;
	    padding-bottom: 10px;
	}
	.off-days-sec:before {
	    height: 745px;
	}
	.bv-calender-dsc-inner h2{
		margin-bottom: 15px;
	}
	.events-grid-sec{
		padding-top: 165px;
	}
}
@media(max-width: 1199px){
	.bv-clndr-absolute-img-two {
	    margin-right: 0;
	    margin-top: 542px;
	}
	.events-grid-item-inner ul li .event-grid-item-inr{
		padding-right: 20px;
		padding-bottom: 26px;
	}
	.events-grid-item-inner ul li{
		padding: 0 13px 40px;
	}
	.inline-bg-img {
	    height: 515px;
	}
	.bv-clndr-absolute-img-two {
	    margin-right: 0;
	    margin-top: 470px;
	}
	.off-days-sec:before {
	    height: 690px;
	}	
	.bv-calender-dsc {
	    padding-right: 60px;
	}
	.bv-clndr-absolute-img-one{
		margin-left: -45px;
	}
	.events-grid-sec {
	    padding-top: 140px;
	}
	.calender-inline-bg {
	    height: 335px;
	}
	.bv-clndr-absolute-img-one img {
	    width: 55px;
	    height: auto;
	}
	.bv-clndr-absolute-img-one {
	    margin-left: -35px;
	}
	.events-grid-item-inner {
	    padding-bottom: 30px;
	}
}
@media(max-width: 991px){
	.inline-bg-img {
	    height: 460px;
	}
	.off-days-sec:before {
	    height: 636px;
	}
	.bv-clndr-absolute-img-two {
	    margin-top: 385px;
	}
	.bv-clndr-absolute-img-two img {
	    height: auto;
	    width: 135px;
	}
	.events-grid-sec {
	    padding-top: 130px;
	}
	.bv-clndr-absolute-img-two {
	    margin-top: 415px;
	}
	.bv-calender-dsc-inner p{
		line-height: 21px;
	}
	.calender-inline-bg {
	    height: 280px;
	}
	.event-date i{
		margin-top: -2px;
	}
}
@media(max-width: 767px){
	.bv-calender-dsc {
	    padding-right: 0;
	    max-width: 100%;
	}
	.bv-calender-iner {
	    text-align: center;
	}
	.calender-inline-bg {
	    height: 500px;
	}
	.events-grid-item-inner ul li{
		max-width: 100%;
		padding: 0 13px 30px;
	}
	.events-grid-sec {
	    padding-top: 200px;
	}
	.off-days-sec:before{
		content: none;
	}
	.events-grid-sec .white-sky-bg {
	    top: -140px;
	    height: 382px;
	}
}
@media(max-width: 575px){
	.calender-inline-bg {
	    height: 360px;
	}
}
@media(max-width: 479px){
	.calender-inline-bg {
	    height: 235px;
	}
	.event-grid-item-inr p {
	    line-height: 1.4;
	}
}
@media(max-width: 359px){
	.events-grid-item-inner ul li .event-grid-item-inr {
	    padding: 31px 24px 35px;
	    padding-right: 10px;
	}
		.event-grid-item-inr p {
	    line-height: 1.3;
	}
}

@media(max-width: 320px){


}
