.cadeaubonnen-overzicht-sec{
	padding-bottom: 84px;
}
.cadeaubonnen-overzicht-page-entry-hdr .page-entry-header{
	margin-bottom: 64px;
	border-bottom: 2px solid#f4f8f9;
}
.cadeaubonnen-overzicht-page-entry-hdr .page-entry-header .fl-h1{
	margin-bottom: 15px;
}
.cadeaubonnen-overzicht-page-entry-hdr .page-entry-header p{
	margin-bottom: 30px;
} 
.cadeaubonnen-overzicht-cntrl > ul > li:nth-child(3n+1) .fl-pro-gift-cntlr{
	background-color: #fdc935;
}
.cadeaubonnen-overzicht-cntrl > ul > li:nth-child(3n+3) .fl-pro-gift-cntlr{
	background-color: #d2437b;
}
.fl-pro-gift-cntlr{
	min-height: 226px;
	background-color: #1DB4B2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 23px;
	border-radius: 3px 3px 0px 0px
}
.fl-pro-gift-cntlr .fl-gift-price{
	padding-bottom: 7px;
}
.gift-card .fl-pro-grd-price span.woocommerce-Price-amount bdi span, 
.gift-card .fl-pro-grd-price del span.woocommerce-Price-amount bdi span, 
.gift-card .fl-pro-grd-price ins span.woocommerce-Price-amount bdi span, 
.gift-card .single-product .single-price-total span.woocommerce-Price-amount bdi, 
.gift-card .single-product .single-price-total del span.woocommerce-Price-amount bdi span, 
.gift-card .single-product .single-price-total ins span.woocommerce-Price-amount bdi span{
	margin-left: 0!important;
}

.fl-pro-gift-cntlr i{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 30px;
}
.fl-pro-gift-cntlr .fl-gift-price span{
	display: inline-block;
	vertical-align: baseline;
	line-height: 1;
}
.gift-card .fl-pro-grd-des{
	padding: 38px 23px 30px;
}
.gift-card .fl-pro-grd-des > ul{
	padding-bottom: 27px;
}
.fl-pro-gift-cntlr .fl-gift-price span.woocommerce-gift-Price-amount bdi{
	font-size: 36px;
	font-weight: 700;	
	color: #fff;
	line-height: 1.2;
	display: inline-block;
	vertical-align: baseline;
}
.fl-pro-gift-cntlr .fl-gift-price span.woocommerce-gift-Price-amount bdi span.woocommerce-Price-currencySymbol{
	font-weight: 700;
	padding-right: 12px;
	font-size: 36px;
}
/*.fl-pro-gift-cntlr span{
	display: inline-block;
	vertical-align: baseline;
	line-height: 1;
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;	
}*/
.fl-gift-btn{
	width: 100%;
	font-weight: 700;
}

.page-template-page-cadeaubonnen{

} 

.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .woocommerce-Price-amount bdi, 
body.woocommerce-cart.woocommerce-page.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .product-price .woocommerce-Price-amount.amount bdi, 
body.woocommerce-cart.woocommerce-page.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .product-price .woocommerce-Price-amount.amount bdi span, 
body.woocommerce-cart .cart_totals.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .woocommerce-Price-amount bdi{
	color: #fff;
   font-weight: 700!important;
   font-size: 36px!important;
   text-transform: uppercase;
}

.fl-product-grd-inr .fl-pro-gift-cntlr > span{
	display: block;
   line-height: 1;
   font-size: 30px;
   font-weight: 300;
   color: #fff!important;
   text-transform: uppercase;
}

body.page-template-page-cadeaubonnen .fl-pro-grd-des{
	padding: 30px 22px;
}
body.page-template-page-cadeaubonnen .fl-pro-grd-price{
	padding-bottom: 20px;
    margin-bottom: 25px;
}

.page-template-page-cadeaubonnen .fl-pro-grd-des .woocommerce-Price-amount bdi, 
body.woocommerce-cart.woocommerce-page.page-template-page-cadeaubonnen .fl-pro-grd-des .product-price .woocommerce-Price-amount.amount bdi, 
body.woocommerce-cart.woocommerce-page.page-template-page-cadeaubonnen .fl-pro-grd-des .product-price .woocommerce-Price-amount.amount bdi span, 
body.woocommerce-cart .cart_totals.page-template-page-cadeaubonnen .fl-pro-grd-des .woocommerce-Price-amount bdi{
   font-size: 14px!important;
}

body.page-template-page-cadeaubonnen .fl-pro-grd-des > ul{
	padding-left: 0;
	padding-bottom: 20px;
}
body.page-template-page-cadeaubonnen .fl-products-cntlr ul.products{
	padding-bottom: 0;
}

body.product-template-default .popup-product-title a{
	color: #000!important;
	line-height: 1;
}
body.product-template-default .xoo-cp-variations .variation{
	margin-top: 0;
	margin-bottom: 5px;
}
body.product-template-default .xoo-cp-modal .xoo-cp-variations .variation dt{
	font-size: 15px;
}
body.product-template-default .xoo-cp-variations .variation dd{
	margin-top: -3px;
}


/* == responsive == */

@media (max-width: 1699px){	
	.cadeaubonnen-overzicht-page-entry-hdr .page-entry-header{
		margin-bottom: 57px;
	}
	.cadeaubonnen-overzicht-sec{
		padding-bottom: 66px;
	}
	.fl-pro-gift-cntlr{
		min-height: 217px;
	}
	.fl-pro-gift-cntlr .fl-gift-price span.woocommerce-gift-Price-amount bdi,
	.fl-pro-gift-cntlr .fl-gift-price span.woocommerce-gift-Price-amount bdi span.woocommerce-Price-currencySymbol,
	.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .woocommerce-Price-amount bdi, 
	body.woocommerce-cart.woocommerce-page.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .product-price .woocommerce-Price-amount.amount bdi, 
	body.woocommerce-cart.woocommerce-page.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .product-price .woocommerce-Price-amount.amount bdi span, 
	body.woocommerce-cart .cart_totals.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .woocommerce-Price-amount bdi{
		font-size: 34px!important;
	}
	/*.fl-pro-gift-cntlr span{
		font-size: 29px;
	}*/
	.fl-pro-gift-cntlr .fl-gift-price{
		padding-bottom: 5px;
	}
	.gift-card .fl-pro-grd-des{
		padding: 35px 20px 29px;
	}
	
}
@media (max-width: 1499px) {
   .cadeaubonnen-overzicht-page-entry-hdr .page-entry-header{
		margin-bottom: 50px;
	}
   .fl-pro-gift-cntlr{
		min-height: 209px;
	}
   .fl-pro-gift-cntlr .fl-gift-price span.woocommerce-gift-Price-amount bdi,
   .fl-pro-gift-cntlr .fl-gift-price span.woocommerce-gift-Price-amount bdi span.woocommerce-Price-currencySymbol,
   .page-template-page-cadeaubonnen .fl-pro-gift-cntlr .woocommerce-Price-amount bdi, 
	body.woocommerce-cart.woocommerce-page.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .product-price .woocommerce-Price-amount.amount bdi, 
	body.woocommerce-cart.woocommerce-page.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .product-price .woocommerce-Price-amount.amount bdi span, 
	body.woocommerce-cart .cart_totals.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .woocommerce-Price-amount bdi{
		font-size: 32px!important;
	}
	/*.fl-pro-gift-cntlr span{
		font-size: 28px;
	}*/
}

@media (max-width: 1399px) {
	.cadeaubonnen-overzicht-page-entry-hdr .page-entry-header{
		margin-bottom: 45px;
	}
	.fl-pro-gift-cntlr{
		min-height: 200px;
		padding: 0 20px;
	}
	.gift-card .fl-pro-grd-des{
		padding: 33px 20px 28px;
	}
	.fl-pro-gift-cntlr .fl-gift-price span.woocommerce-gift-Price-amount bdi span.woocommerce-Price-currencySymbol{
		padding-right: 10px;
	}
	/*.fl-pro-gift-cntlr span{
		font-size: 27px;
	}*/
	.fl-pro-gift-cntlr .fl-gift-price span.woocommerce-gift-Price-amount bdi span.woocommerce-Price-currencySymbol{
		padding-right: 10px;
	}
	.fl-pro-gift-cntlr .fl-gift-price{
		padding-bottom: 4px;
	}
	/*.fl-products-cntlr .fl-product-grd .fl-pro-grd-title, .single-product .fl-pro-grd-title{
		margin-bottom: 1px;
	}*/
}

@media(max-width: 991px){
	.gift-card .header{
		margin-bottom: 0;
	}
	.cadeaubonnen-overzicht-sec{
		padding-bottom: 46px;
	}
	.fl-pro-gift-cntlr{
		min-height: 190px;
		padding: 0 15px;
	}
	.gift-card .fl-pro-grd-des{
		padding: 28px 15px 28px;
	}
	.fl-pro-gift-cntlr .fl-gift-price span.woocommerce-gift-Price-amount bdi,
	.fl-pro-gift-cntlr .fl-gift-price span.woocommerce-gift-Price-amount bdi span.woocommerce-Price-currencySymbol,
	.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .woocommerce-Price-amount bdi, 
	body.woocommerce-cart.woocommerce-page.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .product-price .woocommerce-Price-amount.amount bdi, 
	body.woocommerce-cart.woocommerce-page.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .product-price .woocommerce-Price-amount.amount bdi span, 
	body.woocommerce-cart .cart_totals.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .woocommerce-Price-amount bdi{
		font-size: 29px!important;
	}
	.fl-pro-gift-cntlr span{
		font-size: 25px;
	}
	body.page-template-page-cadeaubonnen .fl-products-cntlr ul.products > li{
		width: 50%!important;
	}
}

@media(max-width: 767px){
	.cadeaubonnen-overzicht-sec{
		padding-bottom: 36px;
	}
	.fl-pro-gift-cntlr{
		min-height: 200px;
		padding: 0 20px;
	}
	.fl-pro-gift-cntlr .fl-gift-price span.woocommerce-gift-Price-amount bdi, 
	.fl-pro-gift-cntlr .fl-gift-price span.woocommerce-gift-Price-amount bdi span.woocommerce-Price-currencySymbol,
	.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .woocommerce-Price-amount bdi, 
	body.woocommerce-cart.woocommerce-page.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .product-price .woocommerce-Price-amount.amount bdi, 
	body.woocommerce-cart.woocommerce-page.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .product-price .woocommerce-Price-amount.amount bdi span, 
	body.woocommerce-cart .cart_totals.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .woocommerce-Price-amount bdi{
		font-size: 32px!important;
	}
	.fl-pro-gift-cntlr span{
		font-size: 27px;
	}
	body.page-template-page-cadeaubonnen .cadeaubonnen-overzicht-sec{
		padding-top: 0;
	}
	.cadeaubonnen-overzicht-page-entry-hdr .page-entry-header {
	    margin-bottom: 42px;
	}
	body.page-template-page-cadeaubonnen .fl-products-cntlr ul.products{
		margin: 0 0!important;
	}
	body.page-template-page-cadeaubonnen .fl-products-cntlr ul.products > li{
		width: 100%!important;
		padding: 0 0 40px!important;
	}
	body.page-template-page-cadeaubonnen .fl-product-grd{
		max-width: 450px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	body.page-template-page-cadeaubonnen .fl-products-cntlr .fl-product-grd .fl-pro-grd-title, 
	body.page-template-page-cadeaubonnen .single-product .fl-pro-grd-title{
		font-size: 22px;
	}
	.fl-gift-btn{
		font-weight: 900;
	}
}

@media (max-width: 639px) {

}

@media(max-width: 575px){
	.cadeaubonnen-overzicht-sec{
		padding-top: 54px;
		padding-bottom: 20px;
	}
	.gift-card .fl-pro-grd-des{
		padding: 33px 23px 29px;
	}
	.fl-pro-gift-cntlr{
		min-height: 226px;
		padding: 0 23px;
	}
	.fl-pro-gift-cntlr i{
		padding-bottom: 30px;
	}
	.fl-pro-gift-cntlr .fl-gift-price span.woocommerce-gift-Price-amount bdi, 
	.fl-pro-gift-cntlr .fl-gift-price span.woocommerce-gift-Price-amount bdi span.woocommerce-Price-currencySymbol,
	.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .woocommerce-Price-amount bdi, 
	body.woocommerce-cart.woocommerce-page.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .product-price .woocommerce-Price-amount.amount bdi, 
	body.woocommerce-cart.woocommerce-page.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .product-price .woocommerce-Price-amount.amount bdi span, 
	body.woocommerce-cart .cart_totals.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .woocommerce-Price-amount bdi{
		font-size: 36px!important;
	}
	.fl-pro-gift-cntlr span{
		font-size: 30px;
	}
	body.page-template-page-cadeaubonnen .page-entry-header .fl-h1 span {
	    font-size: 22px;
	}
	.cadeaubonnen-overzicht-page-entry-hdr .page-entry-header p {
	    margin-bottom: 42px;
	}

}

@media(max-width: 479px){
	.cadeaubonnen-overzicht-sec{
		padding-bottom: 10px;
	}

}

@media(max-width: 359px){
	.fl-pro-gift-cntlr span {
	    font-size: 26px;
	}
	.fl-pro-gift-cntlr .fl-gift-price span.woocommerce-gift-Price-amount bdi, 
	.fl-pro-gift-cntlr .fl-gift-price span.woocommerce-gift-Price-amount bdi span.woocommerce-Price-currencySymbol,
	.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .woocommerce-Price-amount bdi, 
	body.woocommerce-cart.woocommerce-page.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .product-price .woocommerce-Price-amount.amount bdi, 
	body.woocommerce-cart.woocommerce-page.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .product-price .woocommerce-Price-amount.amount bdi span, 
	body.woocommerce-cart .cart_totals.page-template-page-cadeaubonnen .fl-pro-gift-cntlr .woocommerce-Price-amount bdi {
	    font-size: 30px!important;
	}
}