.experience-overview-sec{

}
.experience-overview-cntlr{

}
.experience-overview-cntlr .page-entry-header{
	margin-bottom: 37px;
}
.exprns-ovrvw-grid-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -12px;
}
.exprns-ovrvw-item-wrap{
	padding: 0 12px;
	margin-bottom: 50px;
	width: 33.33%;
}
.exprns-ovrvw-item{
	background: #fff;
	box-shadow: 0px 30px 84px rgba(44, 17, 62, 0.09);
	border-radius: 3px;
	padding: 51px 28px 48px 28px;
	text-align: center;
}
.exprns-ovrvw-item-img-cntlr{
	width: 160px ;
	height: 160px;
	border: 4px solid #fff;
	border-radius: 50% 50%;
	overflow: hidden;
	margin-bottom: 17px;
	margin-left: auto;
	margin-right: auto;
}
.exprns-ovrvw-item-img{
	width: 100%;
	height: 100%;
}
.exprns-ovrvw-item-img img{
	width: 100%;
	height: 100%;
}
.exprns-ovrvw-item-icon{
	margin-bottom: 12px;
}
.exprns-ovrvw-item-title.fl-h6{
	font-weight: 500;
	text-transform: capitalize;
	margin-bottom: 12px;
}
.exprns-ovrvw-item-title.fl-h6 a{
	display: inline-block;
	color: #909BA5;
}
.exprns-ovrvw-item-title.fl-h6 a:hover{
	color: #EE3E15;
}
.exprns-ovrvw-item-desc{
	margin-bottom: 50px;
}
.exprns-ovrvw-item-desc p{
	font-weight: 300;
	font-size: 20px;
}
.exprns-ovrvw-item-desc p:last-of-type{
	margin-bottom: 0;
}
.exprns-ovrvw-item-btn{
	line-height: 1;
}
.exprns-ovrvw-item-btn a.red-color-arrow-btn i{
	margin-top: -2px!important;
}
.exprns-ovrvw-item-btn a.red-color-arrow-btn i svg{
	height: 11px!important;
	width: 7px!important;
}


/*responsive*/
@media(max-width: 1499px){
	.exprns-ovrvw-item-desc p{
		font-size: 18px;
	}
	.exprns-ovrvw-item-desc{
		margin-bottom: 40px;
	}
	.exprns-ovrvw-item{
		padding: 45px 28px 43px 28px;
	}
	.exprns-ovrvw-item-btn a.red-color-arrow-btn i{
		margin-top: -3px!important;
	}
}
@media(max-width: 1199px){
	.exprns-ovrvw-grid-cntlr{
		margin: 0 -10px;
	}
	.exprns-ovrvw-item-wrap{
		margin-bottom: 40px;
		padding: 0 10px;
	}
	.exprns-ovrvw-item {
		padding: 51px 19px 48px 19px;
	}
}
@media(max-width: 991px){
	.exprns-ovrvw-grid-cntlr{
		margin: 0 -12px;
	}
	.exprns-ovrvw-item-wrap{
		margin-bottom: 35px;
		width: 50%;
		padding: 0 12px;
	}
	.exprns-ovrvw-item {
		padding: 51px 28px 48px 28px;
	}
}
@media(max-width: 767px){
	.exprns-ovrvw-grid-cntlr{
		margin: 0 -10px;
	}
	.exprns-ovrvw-item-wrap{
		margin-bottom: 30px;
		padding: 0 10px;
	}
	.exprns-ovrvw-item {
		padding: 51px 19px 48px 19px;
	}
}
@media(max-width: 639px){
	.exprns-ovrvw-grid-cntlr{
		margin: 0 ;
	}
	.exprns-ovrvw-item-wrap{
		width: 100%;
		padding: 0;
	}
	.exprns-ovrvw-item{
		max-width: 412px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.exprns-ovrvw-item-desc p{
		font-size: 20px;
	}
	.exprns-ovrvw-item-desc{
		margin-bottom: 50px;
	}
	.exprns-ovrvw-item{
		padding: 51px 28px 48px 28px;
	}
}