.eveline-vernaeve-sec{
	padding-bottom: 300px;
	position: relative;
}
.eveline-vernaeve-sec:after{
	background: linear-gradient(180deg, #FFFFFF 0%, #F1F5F8 100%), #F8FAFB;
	opacity: 1;
	position: absolute;
	content: "";
	width: 100%;
	height: 743px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}
.eveline-vernaeve-sec .container{
	position: relative;
	z-index: 3;
}
.eveline-vernaeve-sec-cntlr{

}
.eveline-vernaeve-sec-cntlr .page-entry-header{
	margin-bottom: 29px;
}

.share-on-module{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-bottom: 25px;
}
.share-on-module span{
	font-weight: normal;
	font-size: 16px;
	line-height: 1;
	color: #909BA5;
	display: inline-block;
	padding-right: 20px;
}
.share-on-module ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -10px;
}
.share-on-module ul li{
	padding: 0 10px;
}
.share-on-module ul li a,
.share-on-module ul li a i{
	display: inline-block;
}
.share-on-module ul li a:hover i svg{
	fill: #EE3E15;
}
.eveline-vernaeve-cntlr{
	margin-bottom: 50px;
}
.eveline-vernaeve-cntlr .overons-msnry-grd-lft{
	width: 49.02%;
}
.eveline-vernaeve-cntlr .overons-msnry-grd-rgt{
	width: 50.98%;
}



.overons-msnry-grd-dsc-mdul{
	margin-bottom: 42px;
	max-width: 543px;
	width: 100%;
	padding-bottom: 35px;
	border-bottom: 1px solid #ECF1F4;
}
.overons-msnry-grd-dsc-mdul:last-child{
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}
.overons-msnry-grd-dsc-mdul.ovms-grd-dsc-mdul-text-lg p{
	font-weight: 300;
	font-size: 24px;
}
.overons-msnry-grd-dsc-mdul p:last-of-type{
	margin-bottom: 0;
}








.experience-overview-title.fl-h3{
	margin: 0 0 36px 0;
	text-align: center;
	text-transform: uppercase;

	color: #2C113E;
}
.eveline-vernaeve-sec-cntlr .fancy-module{
	margin-bottom: 36px;
}

.ervaring-details-sec{
	padding-top: 300px;
	position: relative;
}



/*responsive*/
@media(max-width: 1499px){
	.overons-msnry-grd-dsc-mdul.ovms-grd-dsc-mdul-text-lg p{
		font-size: 20px;
	}
}
@media(max-width: 1399px){
	
}
@media(max-width: 1299px){
	
}
@media(max-width: 1199px){
	
}
@media(max-width: 991px){
	
}
@media(max-width: 767px){
	.eveline-vernaeve-cntlr .overons-msnry-grd-rgt,
	.eveline-vernaeve-cntlr .overons-msnry-grd-lft{
		width: 100%;
	}
	.overons-msnry-grd-dsc-mdul{
		max-width: 100%;
		margin-bottom: 47px;
		padding-bottom: 47px;
	}
}
@media(max-width: 639px){
	.exprnsSlider{
		
	}
	.exprnsSlider.slick-dotted.slick-slider{
		margin-bottom: 0;
	}
	.exprnsSlider .exprns-ovrvw-item-wrap{
		display: none;
		margin-bottom: 94px;
		margin-top: 33px;
	}
	.exprnsSlider .exprns-ovrvw-item-wrap:first-of-type{
		display: block;
	}
	.exprnsSlider.slick-slider .exprns-ovrvw-item-wrap{
		display: block;
	}
	.exprnsSlider.slick-slider ul.slick-dots{
		position: absolute;
		bottom: 40px;
	}
	.exprnsSlider.slick-slider .slick-dots li.slick-active{
		background: #EE3E15!important;
	}
	.experience-overview-title.fl-h3{
		margin-bottom: 0;
	}
}
@media(max-width: 575px){
	
}

@media(max-width: 479px){
	
}
