.footer-top-sec{
	background: #2C113E;
	padding-top: 32px;
	padding-bottom: 17px;
	position: relative;
	margin-top: 6px;
}
.footer-top-sec .hdr-color-border:after{
	bottom: initial;
	top: 0;
	margin-top: -6px;
}
.footer-top-sec-cntlr{

}
.footer-top-sec-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -61px;
	justify-content: center;
}
.ftr-top-sec-item-wrap{
	padding: 0 61px;
	line-height: 1;
	margin-bottom: 15px;
	width: 33.33%;
}
.ftr-top-sec-item{

}
.ftr-top-sec-item-title{
	position: relative;
	padding-left: 34px;
	color: #fff;
}
.ftr-top-sec-item-title.fl-h6{
	font-size: 16px;
	margin-bottom: 0;
	line-height: 1;
	text-transform: uppercase;
}
.ftr-top-sec-item-title i{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.footer-wrp{

}
.footer-cntlr{
	padding-top: 58px;
}
.ftr-top-cntlr{
	padding-bottom: 69px;
	border-bottom: 2px solid #F8FAFB;
}
.ftr-top-col{
	float: left;
	padding-right: 10px;
	width: 100%;
}
.ftr-top-col:last-of-type{
	padding-right: 0;
}
.ftr-top-col1{
	max-width: 33.92%;
}
.ftr-top-col2{
	max-width: 36.18%;
	padding-top: 22px;
}
.ftr-top-col3{
	max-width: 29.49%;
	padding-top: 22px;
}

.ftr-top-logo{
	margin-bottom: 26px;
}
.ftr-top-logo a{
	display: inline-block;
}
.ftr-top-pament-method{

}
.ftr-top-pament-method ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -6px;
}
.ftr-top-pament-method ul li{
	padding: 0 6px;
}
.ftr-top-col-title{
	color: #2C113E;
	text-transform: uppercase;
	margin-bottom: 40px;
	line-height: 1;
}
.ftr-top-col-menu{

}
.ftr-top-col-menu ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.ftr-top-col-menu ul li{
	padding: 13px 0;
	padding-right: 5px;
	width: 50%;
}
.ftr-top-col-menu ul li:nth-child(2n+2){
	padding-right: 0;
}
.ftr-top-col-menu ul li.ftr-top-col-menu-single{
	width: 100%;
	display: block;
}
.ftr-top-col-menu ul li a{
	display: inline-block;
	font-size: 14px;
	line-height: 1;
}
.ftr-top-col-menu ul li:first-child,
.ftr-top-col-menu ul li:nth-child(2){
	padding-top: 0;
}
.ftr-top-col-menu ul li:last-child{
	padding-bottom: 0;
}
.ftr-top-col-details{

}
.ftr-top-col-addr{
	margin-bottom: 35px;
}
.ftr-top-col-addr a{
	display: inline-block;
	line-height: 2;
}
.ftr-top-col-tel{
	margin-bottom: 16px;
}
.ftr-top-col-tel span,
.ftr-top-col-mail span{
	display: inline-block;
}
.ftr-top-col-tel a,
.ftr-top-col-mail a{
	display: inline-block;
	line-height: 1;
}
.ftr-top-col-mail{
	margin-bottom: 35px;
}
.ftr-top-col-socials{
	padding-left: 0;
	border-left: none;
}

.ftr-btm-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 49px 0;
}
.ftr-copyright{
	padding-right: 10px;
}
.ftr-copyright p{
	margin-bottom: 0;
	line-height: 1;
	font-size: 13px;
}
.ftr-btm-menu{
	margin-left: auto;
}
.ftr-btm-menu ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.ftr-btm-menu ul li{
	position: relative;
	padding: 0 15px;
}
.ftr-btm-menu ul li:after{
	position: absolute;
	content: "";
	right: 0;
	top: 50%;
	transform: translate(50%,-50%);
	-ms-transform: translate(50%,-50%);
	-webkit-transform: translate(50%,-50%);
	-o-transform: translate(50%,-50%);
	height: 2px;
	width: 4px;
	background: #909BA5;
	margin-top: 1px;
}
.ftr-btm-menu ul li:last-child:after{
	content: none;
	display: none;
}
.ftr-btm-menu ul li a{
	display: inline-block;
	line-height: 1;
	font-size: 13px;
	text-transform: capitalize;
	color: #909BA5;
}
.ftr-btm-menu ul li a:hover{
	color: #EE3E15;
}
.ftr-developed-by{
	margin-left: auto;
}
.ftr-developed-by p{
	margin-bottom: 0;
	line-height: 1;
	font-size: 13px;
}
.ftr-developed-by p a{
	display: inline-block;
	color: #EE3E15;
}
.ftr-developed-by p a:hover{
	color: #909BA5;
}


/*responsive*/
@media(max-width: 1699px){
	.footer-top-sec-cntlr{
		margin: 0 -25px;
	}
	.ftr-top-sec-item-wrap{
		padding: 0 25px;
	}
	.footer-cntlr{
		padding-top: 40px;
	}
	.ftr-top-col1{
		max-width: 38.92%;
	}
	.ftr-top-col2{
		max-width: 31.18%;
		padding-top: 22px;
	}
}
@media(max-width: 1399px){

}
@media(max-width: 1299px){

}
@media(max-width: 1199px){
	.footer-top-sec-cntlr{
		margin: 0 -15px;
	}
	.ftr-top-sec-item-wrap{
		padding: 0 15px;
	}
	.ftr-top-sec-item-title.fl-h6{
		font-size: 15px;
	}
	.ftr-top-col1{
		max-width: 35.92%;
	}
	.ftr-top-col2 {
	    max-width: 34.18%;
	}
	.footer-cntlr{
		padding-top: 34px;
	}
	.ftr-top-col-menu ul li{
		padding: 9px 0;
	}
}
@media(max-width: 991px){
	.footer-top-sec{
		padding-top: 27px;
		padding-bottom: 12px;
	}
	.footer-top-sec-cntlr{
		margin: 0 -10px;
	}
	.ftr-top-sec-item-wrap{
		padding: 0 10px;
	}
	.ftr-top-sec-item-title.fl-h6{
		font-size: 14px;
	}
	.ftr-top-col2{
		padding-left: 30px;
	}
	.ftr-top-col-menu ul li{
		width: 100%;
		padding: 7px 0;
	}
	.ftr-top-col-menu ul li:nth-child(2){
		padding-top: 7px;
	}
	.ftr-btm-cntlr{
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
	.ftr-copyright{
		width: 100%;
		margin-bottom: 22px;
	}
	.ftr-btm-menu{
		margin-bottom: 30px;
	}

	.ftr-btm-menu,
	.ftr-developed-by{
		width: 100%;
	}
	.ftr-btm-menu ul{
		justify-content: center;
	}
	.ftr-btm-menu ul li{
		margin-bottom: 12px;
	}
}
@media(max-width: 767px){
	.footer-top-sec-cntlr{
		margin: 0;
	}
	.ftr-top-sec-item-wrap{
		width: 100%;
		padding: 0;
		text-align: center;
	}
	.ftr-top-sec-item-title.fl-h6{
		display: inline-block;
	}
	.ftr-top-col{
		padding: 0;
		max-width: 100%;
		text-align: center;
	}
	.ftr-top-cntlr{
		padding-bottom: 50px;
	}
	.ftr-top-logo{
		padding-bottom: 29px;
		margin-bottom: 60px;
		position: relative;
	}
	.ftr-top-logo:after{
		position: absolute;
		bottom: 0;
		content: "";
		height: 2px;
		width: 67px;
		background: #ECF1F4;
		left: 50%;
		transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-o-transform: translateX(-50%);
	}
	.ftr-top-col-menu ul li{
		padding: 10px 0;
	}
	.ftr-top-col-menu ul li:nth-child(2){
		padding-top: 10px;
	}
	.ftr-top-col2{
		margin-bottom: 50px;
	}
	.ftr-menu-des{
		display: none;
	}
	.ftr-top-col-title{
		padding-right: 26px;
		position: relative;
		display: inline-block;
	}
	.ftr-top-col-title:after{
		position: absolute;
		top: 2px;
		content: "";
		right: 0;
		background-image: url('../images/ftr-top-col-title-img.svg');
		background-repeat: no-repeat;
		width: 16px;
		height: 10px;
		background-size: contain;
	}
	.ftr-top-col-title.active:after{
		transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		-webkit-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
	}
	.ftr-top-col-socials{
		display: block;
		padding-top: 15px;
	}
	.ftr-top-pament-method{
		margin-bottom: 40px;
	}
	.ftr-top-pament-method ul{
		justify-content: center;
	}
	.ftr-top-col2 .ftr-top-col-title{
		margin-bottom: 0;
	}
	.ftr-top-col-menu{
		padding-top: 40px;
	}
}
@media(max-width: 575px){

}