.banner-sec{
	position: relative;
	margin-bottom: 140px;
}
.banner-sec .hdr-color-border:after{

}
.banner-bg{
	min-height: 912px;
	position: relative;
	display: flex;
	align-items: flex-end;
	padding-bottom: 225px;
}
.cloud-bg {
    position: absolute;
    content: "";
    bottom: -278px;
    left: 0;
    right: 0;
}
.banner-inner{
	text-align: center;
	color: #fff;
	position: relative;
}
.banner-sub-hdr-title, .banner-hdr-title, .banner-sub-hdr-title-2{
	color: #fff;
	text-transform: uppercase;
}
.banner-sub-hdr-title{	
	font-size: 64px;
	font-weight: 300;
	margin-bottom: 0;
}
.banner-hdr-title{
	font-size: 144px;
	font-weight: 900;
	margin-bottom: 0;
}
.banner-sub-hdr-title-2{
	margin-bottom: 36px;
}
.banner-inner p{
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 0;
}
.find-more-btn{
	padding-top: 35px;
}
.bnr-find-more-btn{
	min-width: 334px;
	padding: 18px 71px;
}
.bnr-ballon{
	position: absolute;
	bottom: 22px;
	left: 217px;
}
.home-banner-grid{
	overflow: hidden;
	padding-bottom: 71px;
}
.bn-process-grid-items{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -12px!important;
}
.bn-process-grid-item{
	width: 33.3333%!important;
	padding: 0 12px 67px!important;
	text-align: center;
}
.bn-process-item-hdr{
	position: relative;
	margin-bottom: 20px;
}
.bn-process-item-hdr span{
	font-size: 72px;
	font-weight: 300;
	color: #ECF1F4;
	letter-spacing: 0.03em;
	line-height: 1;
	display: inline-block;
	vertical-align: baseline;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.bn-process-grid-item .bn-process-item-hdr .bn-process-grid-title{
	text-transform: uppercase;
	color: #2C113E;
	padding-top: 40px;
	display: inline-block;
	vertical-align: baseline;
	z-index: 2;
	position: relative;
	margin-bottom: 0px;
}
.bn-process-grid-item p{
	margin-bottom: 0;
}

/* == responsive == */
@media (max-width: 1699px) {
	
}

@media (max-width: 1499px) {
	
}

@media (max-width: 1399px) {
	.home-banner-grid-item p br{
		display: none;
	}
}

@media (max-width: 1299px) {
	
}

@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {
	
}

@media (max-width: 767px) {
	.home-banner-grid-item{
		width: 50%!important;
	}
}

@media (max-width: 639px) {
	
}

@media (max-width: 575px) {
	
}

@media (max-width: 479px) {
	.home-banner-grid-item{
		width: 100%!important;
	}
}

@media (max-width: 359px) {
	
}