.home .header{
	margin-bottom: 0;
}
.banner-sec{
	position: relative;
	overflow: hidden;
	
}
.banner-sec .container{
	position: relative;
	z-index: 2;
}
.bnr-desc-wrap{
	min-height: 912px;
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 225px;
}
.bnr-desc-wrap:after,
.bnr-desc-cntlr:after{
	content: "";
	display: block;
	min-height: inherit;
	font-size: 0;
}
.bnr-desc-cntlr{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.banner-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.bnr-desc-cntlr{
	position: relative;
	z-index: 2;
}
.cloud-bg {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
}
.bnr-desc-inr{
	text-align: center;
	color: #fff;
	position: relative;
}
.bnr-sub-title, .bnr-title, .bnr-sub-title2{
	color: #fff;
	text-transform: uppercase;
}
.bnr-sub-title{	
	font-size: 64px;
	font-weight: 300;
	margin-bottom: 0;
}
.bnr-title{
	font-size: 144px;
	font-weight: 900;
	margin-bottom: 0;
}
.bnr-sub-title2{
	margin-bottom: 36px;
}
.bnr-desc-inr p{
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 0;
}
.bnr-btn{
	padding-top: 35px;
}
.bnr-btn .fl-red-btn{
	min-width: 334px;
	padding: 18px 20px;
}
.bnr-btn .fl-red-btn:hover{
	background: #2C113E!important;
	border-color: #2C113E!important;
	color: #fff!important;
}
.bnr-ballon{
	position: absolute;
	bottom: 22px;
	left: 217px;
	z-index: 2;
}
.bn-process-grid{
	padding-bottom: 71px;
	position: relative;
}
.bn-process-grid-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -12px;
	position: relative;
	z-index: 2;
}
.bn-process-grid-item{
	width: 33.3333%;
	padding: 0 12px 67px;
	text-align: center;
}
.bn-process-item-hdr{
	position: relative;
	margin-bottom: 20px;
}
.bn-process-item-hdr span{
	font-size: 72px;
	font-weight: 300;
	color: #ECF1F4;
	letter-spacing: 0.03em;
	line-height: 1;
	display: inline-block;
	vertical-align: baseline;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.bn-process-grid-item .bn-process-item-hdr .bn-process-grid-title{
	text-transform: uppercase;
	color: #2C113E;
	padding-top: 40px;
	display: inline-block;
	vertical-align: baseline;
	z-index: 2;
	position: relative;
	margin-bottom: 0px;
}
.bn-process-grid-item p{
	margin-bottom: 0;
}
.xs-process-ballon{
	display: none;
}



/*start of noyon*/
.overons-msnry-grd-sec-wrp.hm-overons-msnry-grd-sec-wrp{
	padding-top: 137px;
	padding-bottom: 66px;
	position: relative;
}
.hm-overons-msnry-grd-sec-wrp .overons-msnry-grd-lft{
	position: relative;
	z-index: 2;
}
.overons-msnry-grd-sec-wrp.hm-overons-msnry-grd-sec-wrp:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.45) 0%, #F1F5F8 100%), #F8FAFB;
	opacity: 0.7;
	z-index: 0;
}
.hm-overons-msnry-grd-dsc{
	position: relative;
	z-index: 3;
}
.hm-news-details-sec{
	background: #fff;
}
.hm-news-details-sec.news-details .white-sky-bg{
    top: -324px;
}
.hm-overons-msnry-grd-dsc a{
	margin-top: 8px!important;
}
.hm-dfp-twogrd-module-sce{

}
.hm-dfp-twogrd-module-sce .white-sky-bg{
	height: 340px;
	top: -297px;
}
.off-days-sec.hm-bv-calender-sec{
	padding-top: 60px;
	padding-bottom: 139px;
}

.cloud-bg{
	height: 100%;
	width: 100%;
	z-index: 1;
	bottom: -50px;
}
.cloud-bg img{
	position: absolute;
	bottom: 0;
	transform: scale(1.1);
	max-width: 100%;
	animation: animate calc(10s * var(--i)) linear infinite;
}
@keyframes animate{
	0%{
		transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
	}
	100%{
		transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		-webkit-transform: translateX(100%);
	}
}
/* == responsive == */
@media (max-width: 1799px) {
	.bnr-ballon{
		left: 150px;
	}
}
@media (max-width: 1699px) {
	.bnr-sub-title{
		font-size: 60px;
	}
	.bnr-title{
		font-size: 134px;
	}
	.bnr-sub-title2{
		font-size: 23px;
		margin-bottom: 34px;
	}
	.bnr-btn{
		padding-top: 33px;
	}
	.bnr-ballon{
		left: 100px;
	}
	.bnr-desc-inr p{
		font-size: 19px;
	}
	.overons-msnry-grd-sec-wrp.hm-overons-msnry-grd-sec-wrp{
		padding-top: 115px;
	}
	.hm-dfp-twogrd-module-sce .white-sky-bg{

	}
}

@media (max-width: 1499px) {
	.bnr-title{
		font-size: 129px;
	}
	.bnr-ballon{
		left: 40px;
	}
	.hm-news-details-sec.news-details .white-sky-bg{
		top: -259px;
	}
}

@media (max-width: 1399px) {
	.bnr-sub-title{
		font-size: 56px;
	}
	.bnr-title{
		font-size: 124px;
	}
	.bnr-sub-title2{
		font-size: 22px;
		margin-bottom: 32px;
	}
	.bn-process-grid-item p br{
		display: none;
	}
	.bnr-btn{
		padding-top: 30px;
	}
	.bnr-ballon{
		left: 20px;
	}
	.bnr-desc-inr p{
		font-size: 18px;
	}
}

@media (max-width: 1299px) {
	
}

@media (max-width: 1199px) {
	.bnr-sub-title{
		font-size: 52px;
	}
	.bnr-title{
		font-size: 114px;
	}
	.bnr-sub-title2{
		margin-bottom: 30px;
	}
	.overons-msnry-grd-sec-wrp.hm-overons-msnry-grd-sec-wrp{
		padding-top: 90px;
	}
}


@media (max-width: 991px) {
	.bnr-sub-title{
		font-size: 48px;
	}
	.bnr-title{
		font-size: 104px;
	}
	
	.bnr-desc-inr p{
		font-size: 17px;
	}
	.overons-msnry-grd-sec-wrp.hm-overons-msnry-grd-sec-wrp{
		padding-top: 70px;
	}
	.off-days-sec.hm-bv-calender-sec{
		padding-top: 40px;
	}
	.hm-news-details-sec.news-details .white-sky-bg{
	    top: -198px;
	}
	
}

@media (max-width: 767px) {
	.bn-process-grid-item{
		width: 50%;
	}
	.bnr-sub-title{
		font-size: 44px;
	}
	.bnr-title{
		font-size: 94px;
	}
	.bnr-sub-title2{
		margin-bottom: 26px;
	}

	.bnr-ballon{
		display: none;
	}
	.hm-dfp-twogrd-module-cntlr .dfp-twogrd-module{
		display: block;
	}
	
	.hm-overons-msnry-grd-sec-wrp .overons-msnry-grd-dsc a{
		display: inline-block;
	}
	.hm-overons-msnry-grd-dsc{
		text-align: center;
	}
	.hm-dfp-gift-grd-smpl-img-cntlr{
		margin-bottom: 15px;
		height: 220px;
		border-radius: 3px;
		overflow: hidden;
	}
	.hm-dfp-gift-grd-smpl-img{
		height: 100%;
		width: 100%;
	}
	.hm-dfp-twogrd-module-cntlr .dfp-twogrd-module{
		display: flex;
		flex-direction: column;
	}
	.xs-booking-top-rgt-img{
		right: -20px!important;
	}
	.hm-dfp-twogrd-module-cntlr .dfp-booking-grd, .hm-dfp-twogrd-module-cntlr .dfp-gift-grd {
		padding: 40px 30px 40px;
	}
	.overons-msnry-grd-sec-wrp.hm-overons-msnry-grd-sec-wrp{
		padding-bottom: 150px;
	}
	.off-days-sec.hm-bv-calender-sec{
		padding-top: 20px;
	}
	.hm-dfp-twogrd-module-sce .white-sky-bg {
		height: 150px;
		top: -149px;
	}
	.bv-calender-dsc-inner{
		text-align: center;
	}
	.hm-news-details-sec.news-details .white-sky-bg{
		top: -198px;
	}
	.hm-blog-grds-item-ctlr.dfpBlogSlider .blog-grid-item{
		border-bottom: 0!important;
		padding-bottom: 0!important;
	}
}

@media (max-width: 639px) {
	.bnr-title{
		font-size: 84px;
	}
	.hm-news-details-sec.news-details .white-sky-bg{
		top: -170px;
	}
	
}

@media (max-width: 575px) {
	.overons-msnry-grd-sec-wrp.hm-overons-msnry-grd-sec-wrp{
		padding-top: 40px;
	}
	.bnr-sub-title{
		font-size: 40px;
	}
	.bnr-title{
		font-size: 71px;
	}
	.bnr-sub-title2{
		margin-bottom: 24px;
	}
	.hm-dfp-twogrd-module-cntlr .dfp-booking-grd, .hm-dfp-twogrd-module-cntlr .dfp-gift-grd {
		padding: 28px 30px 28px;
	}
	.hm-dfp-twogrd-module-cntlr .xs-booking-top-rgt-img {
		position: absolute;
		top: -71px;
	}
	.hm-dfp-twogrd-module-cntlr .xs-booking-top-rgt-img img{
		max-height: 150px;
	}
	.hm-dfp-twogrd-module-sce .white-sky-bg{
		height: 130px;
		top: -129px;
	}
	.off-days-sec.hm-bv-calender-sec{
		padding-top: 4px;
	}

	.home .header{
		margin-bottom: 0;
	}
	.banner-sec{
		overflow: hidden;
	}
	.banner-bg{
		min-height: 520px;
		padding-bottom: 217px;
	}
	.banner-cntrl{
		position: absolute;
	}
	.bnr-desc-inr:after{
		position: absolute;
		content: "";
		width: 67px;
		height: 2px;
		background-color: #ecf1f4;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.bnr-desc-inr{
		margin:0 -20px; 
		overflow: hidden;
		padding-bottom: 30px;
	}
	.bn-process-grid{
		padding-top: 237px;
		padding-bottom: 94px;
		position: relative;
	}
	.bn-process-grid-items{
		display: initial;
		margin: 0;
	}
	.bn-process-grid-item{
		width: initial;
		padding-bottom: 20px;
	}
	.bnr-sub-title{
		font-size: 36px;
		margin-bottom: 17px;
	}
	.bnr-title{
		font-size: 64px;
		margin: 0 -20px 41px;

	}
	.bn-process-grid-item .bn-process-item-hdr .bn-process-grid-title{
		font-size: 26px;
	}
	.bnr-sub-title2{
		color: #ee3e15;
		margin-bottom: 22px;
	}
	.bn-process-grid-item p br{
		display: block;
	}
}

@media (max-width: 479px) {
	
	
	.xs-process-ballon{
		display: block;
		position: absolute;
		left: 0;
		top: 150px;
	}
	.bnr-btn, .bnr-desc-inr p{
		padding-left: 20px;
		padding-right: 20px;
	}
	.bnr-desc-inr p{
		font-size: 16px;
		color: #9ea8b1;
	}
	.bnr-desc-inr p br{
		display: none;
	}
	.bnr-ballon{
		display: none;
	}
	.bnr-btn{
		padding-top: 28px;
	}
	.bnr-btn .fl-red-btn{
		min-width: 280px;
		padding: 18px 20px;
	}
	
	.bn-process-grid-item{
		padding-left: 0;
		padding-right: 0;
	}
	.cloud-bg{
		top: -173px;
	}
}

@media (max-width: 359px) {
	.bnr-title {
    	font-size: 57px;
	}
}