/*
-------------------------
overons-msnry-grd-sec-wrp
-------------------------
*/
.overons-msnry-grd-sec-wrp{
	position: relative;
	padding-bottom: 285px;
}
.overons-msnry-grd-sec-wrp .contact-form-angle-bg {
    height: 1200px;
    background: url(../images/overons-angle-bg.jpg);
    bottom: -245px;
}
.overons-msnry-grd-wrp{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	min-height: 750px;
	height: 100%;
}
.overons-msnry-grd-item{
	/*position: absolute;
	top: 0;
	left: 0;
	bottom: 0;*/
	width: 50%;
	padding: 0 12px 30px;
	float: left;
}
.msnrytgi3{
	margin-top: -130px;
}
.overons-msnry-grd-item-img{
	border-radius: 3px;
}
.msnrytgi1 .overons-msnry-grd-item-img{
	min-height: 260px;
}
.msnrytgi2 .overons-msnry-grd-item-img{
	height: 390px;
}
.msnrytgi3 .overons-msnry-grd-item-img{
	min-height: 455px;
}
.msnrytgi4 .overons-msnry-grd-item-img{
	height: 325px;
}
.overons-msnry-grd-lft {
    width: 42%;
    float: left;
    margin-left: -12px;
    margin-right: -12px;
}
.overons-msnry-grd-rgt{
	width: 58%;
	float: right;
	padding-left: 105px;
}
.overons-msnry-grd-lft .fl-h1,
.overons-msnry-grd-dsc .fl-h1{
	display: block;
	color: #2C113E;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.overons-msnry-grd-dsc p{
	margin-bottom: 28px;
}
.overons-msnry-grd-dsc ul{
	padding-left: 18px;
	padding-bottom: 17px;
}
.overons-msnry-grd-dsc a{
	margin-top: 35px;
}

/*
--------------------
overons-team-sec-wrp
--------------------
*/
.overons-team-sec-wrp{
	position: relative;
	padding-bottom: 100px;
}
.ovs-team-entry-hdr{
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}
.ovs-team-entry-hdr .fl-h3{
	font-size: 36px;
	line-height: 1;
	color: #2C113E;
	text-transform: uppercase;
	margin-bottom: 32px;
}
.ovs-team-entry-hdr p{
	margin-bottom: 30px;
}
.overons-team-parachute-tp {
    position: absolute;
    top: -305px;
    right: -90px;
}
.overons-team-img{
	margin-bottom: 100px;
}
.overons-team-module {
    background: #FDCA35;
    padding: 60px 80px;
}
.overons-team-module .fl-h4{
	display: block;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.overons-team-module p{
	color: #fff;
	margin-bottom: 25px;
}
.overons-team-module a.fl-transparent-btn{
	width: 200px;
	height: 50px;
	color: #fff;
	font-weight: 900;
	border:2px solid #fff;
	margin: 0 auto;
}
.boek-je-form-sec-wrp .fl-transparent-btn:hover,
.overons-team-module a.fl-transparent-btn:hover{
	border-color:#2C113E;
	background:#2C113E; 
}

.overons-team-parachute-btm{
    position: absolute;
    bottom: 60px;
    left: -125px;
}

/*
---------------------
 Responsive Css
---------------------
*/

@media (max-width: 1699px){
	
}


@media (max-width: 1499px) {
	.msnrytgi1 .overons-msnry-grd-item-img{
		min-height: 230px;
	}
	.msnrytgi2 .overons-msnry-grd-item-img{
		height: 360px;
	}
	.msnrytgi3 .overons-msnry-grd-item-img{
		min-height: 425px;
	}
	.msnrytgi4 .overons-msnry-grd-item-img{
		height: 295px;
	}
}

@media(max-width: 1399px){
	
}

@media(max-width: 1299px){
	.overons-team-parachute-tp {
	    top: -290px;
	    right: -40px;
	    background-size: 180px 260px;
	    width: 180px;
	    height: 260px;
	}
	.overons-team-parachute-btm {
	    bottom: 60px;
	    left: -60px;
	    background-size: 200px 250px;
	    width: 200px;
	    height: 250px;
	}
	.overons-msnry-grd-rgt {
	    padding-left: 65px;
	}
	.boek-parachute-icon {
	    right: -55px;
	    bottom: -40px;
	    width: 100px;
	    height: 130px;
	    background-size: 100px 130px;
	}
}

@media(max-width: 1199px){
	.boek-parachute-icon {
	    right: -15px;
	    bottom: -40px;
	    width: 80px;
	    height: 110px;
	    background-size: 80px 110px;
	}
	.boek-je-form-bg-cntlr {
	    padding-bottom: 120px;
	}
	.overons-team-parachute-tp {
	    top: -270px;
	    right: 0;
	    background-size: 160px 240px;
	    width: 160px;
	    height: 240px;
	}
	.overons-team-parachute-btm {
	    bottom: 60px;
	    left: -15px;
	    background-size: 170px 220px;
	    width: 170px;
	    height: 220px;
	}
	.overons-team-sec-wrp {
	    padding-bottom: 80px;
	}
	.overons-team-img {
	    height: 520px !important;
	    margin-bottom: 80px;
	}
	.overons-msnry-grd-dsc p br{
		display: none;
	}
	.overons-msnry-grd-sec-wrp {
	    padding-bottom: 235px;
	}
	.overons-msnry-grd-wrp{
		min-height: 720px;
	}
	.msnrytgi1 .overons-msnry-grd-item-img {
	    min-height: 230px;
	}
	.msnrytgi2 .overons-msnry-grd-item-img {
	    height: 360px;
	}
	.msnrytgi3 .overons-msnry-grd-item-img {
	    min-height: 425px;
	}
	.msnrytgi4 .overons-msnry-grd-item-img {
	    height: 295px;
	}
	.overons-msnry-grd-sec-wrp .contact-form-angle-bg {
	    height: 540px;
	}
	.overons-team-module {
	    padding: 50px 20px;
	}

}

@media(max-width: 991px){
	.boek-parachute-icon {
	    right: -15px;
	    bottom: -40px;
	    width: 65px;
	    height: 85px;
	    background-size: 65px 85px;
	}
	.boek-je-form-bg-cntlr {
	    padding-bottom: 80px;
	}
	.overons-msnry-grd-rgt {
	    padding-left: 40px;
	}
	.overons-team-sec-wrp {
	    padding-bottom: 60px;
	}
	.overons-team-img {
	    height: 420px !important;
	    margin-bottom: 70px;
	}
	.overons-msnry-grd-sec-wrp {
	    padding-bottom: 185px;
	}
	.msnrytgi1 .overons-msnry-grd-item-img {
	    min-height: 200px;
	}
	.msnrytgi2 .overons-msnry-grd-item-img {
	    height: 330px;
	}
	.msnrytgi3 .overons-msnry-grd-item-img {
	    min-height: 395px;
	}
	.msnrytgi4 .overons-msnry-grd-item-img {
	    height: 265px;
	}
	.overons-msnry-grd-wrp{
		min-height: 660px;
	}
	.overons-msnry-grd-sec-wrp .contact-form-angle-bg {
	    height: 480px;
	}
	.overons-team-module {
	    padding: 40px 20px;
	}
	
	
}

@media(max-width: 767px){
	.boek-je-form-bg-cntlr {
	    padding-bottom: 50px;
	}
	.boek-je-form-sec-wrp{
		padding-top: 50px;
	}
	.overons-team-sec-wrp {
	    padding-bottom: 35px;
	}
	.overons-team-img {
	    height: 320px !important;
	    margin-bottom: 60px;
	}
	.overons-msnry-grd-sec-wrp {
	    padding-bottom: 150px;
	    padding-top: 50px;
	}
	.overons-msnry-grd-lft {
	    width: 100%;
	    margin: 0 -8px;
	}
	.overons-msnry-grd-rgt {
	    padding-left: 0;
	    width: 100%;
	    padding-top: 20px;
	}
	.msnrytgi1 .overons-msnry-grd-item-img {
	    min-height: 160px;
	}
	.msnrytgi2 .overons-msnry-grd-item-img {
	    height: 240px;
	}
	.msnrytgi3 .overons-msnry-grd-item-img {
	    min-height: 280px;
	}
	.msnrytgi4 .overons-msnry-grd-item-img {
	    height: 200px;
	}
	.msnrytgi3 {
	    margin-top: -80px;
	}
	.overons-msnry-grd-item {
	    width: 50%;
	    padding: 0 8px 20px;
	}
	.overons-msnry-grd-dsc .fl-h2 {
	    color: #2C113E;
	    margin-bottom: 25px;
	}
	.overons-msnry-grd-sec-wrp .contact-form-angle-bg {
	    height: 400px;
	}
	.overons-team-module {
	    padding: 30px 20px;
	}
	.overons-team-module-cntlr{
		padding-top: 50px;
		border-top: 1px solid#ECF1F4;
	}
	.overons-team-module .fl-h4{
		text-transform: inherit;
	}
	.overons-team-module p {
	    margin-bottom: 20px;
	}
	.overons-msnry-grd-dsc a{
		display: none;
	}


}

@media(max-width: 575px){
	.overons-team-img {
	    height: 225px !important;
	    margin-bottom: 60px;
	}
	

}

@media(max-width: 479px){
	

}

@media(max-width: 359px){

}