/*
-------------------------
overons-msnry-grd-sec-wrp
-------------------------
*/
.overons-msnry-grd-sec-wrp{
	position: relative;
	padding-bottom: 285px;
}
.overons-msnry-grd-sec-wrp .contact-white-sky-bg{
	height: 980px;
}
.overons-msnry-grd-wrp{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	height: 100%;
}
.overons-msnry-grd-cntlr{
	margin: 0 -12px;
	overflow: hidden;
}
.overons-msnry-grd-item{
	/*position: absolute;
	top: 0;
	left: 0;
	bottom: 0;*/
	width: 50%;
	padding: 0 12px 30px;
	float: left;
}
.msnrytgi3{
	margin-top: -130px;
}
.overons-msnry-grd-item-img{
	border-radius: 3px;
}
.msnrytgi1 .overons-msnry-grd-item-img{
	min-height: 260px;
}
.msnrytgi2 .overons-msnry-grd-item-img{
	height: 390px;
}
.msnrytgi3 .overons-msnry-grd-item-img{
	min-height: 455px;
}
.msnrytgi4 .overons-msnry-grd-item-img{
	height: 325px;
}
.overons-msnry-grd-lft {
    width: 42%;
    float: left;
}
.overons-msnry-grd-rgt{
	width: 58%;
	float: right;
	padding-left: 105px;
}
.overons-msnry-grd-lft .fl-h1,
.overons-msnry-grd-dsc .fl-h1{
	display: block;
	color: #2C113E;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.overons-msnry-grd-dsc p{
	margin-bottom: 28px;
}
.overons-msnry-grd-dsc p a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
}
.overons-msnry-grd-dsc p a:hover{
	color:#EE3E15; 
}

.overons-msnry-grd-dsc ul{
	padding-left: 18px;
	padding-bottom: 17px;
}
.overons-msnry-grd-dsc > a{
	margin-top: 35px;
}

/*
--------------------
overons-team-sec-wrp
--------------------
*/
.overons-team-sec-wrp{
	position: relative;
	padding-bottom: 100px;
}
.ovs-team-entry-hdr{
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}
.ovs-team-entry-hdr .fl-h3{
	font-size: 36px;
	line-height: 1;
	color: #2C113E;
	text-transform: uppercase;
	margin-bottom: 32px;
}
.ovs-team-entry-hdr p{
	margin-bottom: 30px;
}
.overons-team-parachute-tp {
    position: absolute;
    top: -305px;
    right: -90px;
}
.overons-team-img{
	margin-bottom: 100px;
}
.overons-team-module {
    background: #FDCA35;
    padding: 60px 100px;
    border-radius: 3px;
}
.overons-team-module .fl-h4{
	display: block;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.overons-team-module p{
	color: #fff;
	margin-bottom: 25px;
}
.overons-team-module a.fl-transparent-btn {
    min-width: 200px;
    height: 50px;
    color: #fff;
    font-weight: 900;
    border: 2px solid #fff;
    margin: 0 auto;
    padding: 14px 30px 15px 30px;
}
.boek-je-form-sec-wrp .fl-transparent-btn:hover,
.overons-team-module a.fl-transparent-btn:hover{
	border-color:#fff;
	background:#fff; 
	color: #2C113E;
}

.overons-team-parachute-btm{
    position: absolute;
    bottom: 60px;
    left: -130px;
}

/*
---------------------
 Responsive Css
---------------------
*/

@media (max-width: 1699px){
	.msnrytgi1 .overons-msnry-grd-item-img{
		min-height: 230px;
	}
	.msnrytgi2 .overons-msnry-grd-item-img{
		height: 360px;
	}
	.msnrytgi3 .overons-msnry-grd-item-img{
		min-height: 425px;
	}
	.msnrytgi4 .overons-msnry-grd-item-img{
		height: 295px;
	}
	.overons-msnry-grd-rgt {
	    padding-left: 65px;
	}
}



@media(max-width: 1399px){
	.overons-team-parachute-tp {
	    top: -305px;
	    right: -50px;
	}
	.overons-team-parachute-btm {
	    left: -78px;
	    width: 153px;
	    bottom: 159px;
	}

}

@media(max-width: 1299px){
	.overons-team-parachute-tp {
	    top: -290px;
	    right: -15px;
	    width: 180px;
	}
	.overons-team-parachute-btm {
	    bottom: 110px;
	    left: -15px;
	    width: 180px;
	}
	.boek-parachute-icon {
	    right: -55px;
	    bottom: -40px;
	    width: 100px;
	}
}

@media(max-width: 1199px){
	.boek-parachute-icon {
	    right: -15px;
	    bottom: -25px;
	    width: 75px;
	}
	.boek-je-form-bg-cntlr {
	    padding-bottom: 120px;
	}
	.overons-team-parachute-tp {
	    top: -270px;
	    right: 10px;
	}
	.overons-team-parachute-btm {
	    bottom: 123px;
	    left: -10px;
	    width: 160px;
	}
	.overons-team-sec-wrp {
	    padding-bottom: 80px;
	}
	.overons-team-img {
	    margin-bottom: 80px;
	}
	.overons-msnry-grd-dsc p br{
		display: none;
	}
	.overons-msnry-grd-sec-wrp {
	    padding-bottom: 235px;
	}
	.msnrytgi1 .overons-msnry-grd-item-img {
	    min-height: 230px;
	}
	.msnrytgi2 .overons-msnry-grd-item-img {
	    height: 360px;
	}
	.msnrytgi3 .overons-msnry-grd-item-img {
	    min-height: 425px;
	}
	.msnrytgi4 .overons-msnry-grd-item-img {
	    height: 295px;
	}
	.overons-team-module {
	    padding: 50px 140px;
	}

}

@media(max-width: 991px){
	.boek-parachute-icon {
	    right: -15px;
	    bottom: -40px;
	    width: 65px;
	}
	.overons-team-parachute-btm {
	    bottom: 90px;
	}
	.boek-je-form-bg-cntlr {
	    padding-bottom: 80px;
	}
	.overons-msnry-grd-rgt {
	    padding-left: 25px;
	    width: 55%;
	}
	.overons-msnry-grd-lft {
	    width: 45%;
	}
	.overons-team-sec-wrp{
	    padding-bottom: 60px;
	}
	.overons-team-img {
	    margin-bottom: 70px;
	}
	.overons-msnry-grd-sec-wrp {
	    padding-bottom: 185px;
	}
	.msnrytgi1 .overons-msnry-grd-item-img {
	    min-height: 170px;
	}
	.msnrytgi2 .overons-msnry-grd-item-img {
	    height: 300px;
	}
	.msnrytgi3 .overons-msnry-grd-item-img {
	    min-height: 365px;
	}
	.msnrytgi4 .overons-msnry-grd-item-img {
	    height: 235px;
	}

	.overons-team-module {
	    padding: 40px 130px;
	}
	.overons-team-parachute-tp {
	    top: -260px;
	    width: 170px;
	}
	
	
}

@media(max-width: 767px){
	.boek-je-form-bg-cntlr {
	    padding-bottom: 50px;
	}
	.overons-team-sec-wrp {
	    padding-bottom: 35px;
	}
	.overons-team-img {
	    margin-bottom: 60px;
	}
	.overons-msnry-grd-sec-wrp {
	    padding-bottom: 150px;
	}
	.overons-msnry-grd-lft {
	    width: 100%;
	}
	.overons-msnry-grd-cntlr {
	    margin: 0 -8px;
	    overflow: hidden;
	}
	.overons-msnry-grd-rgt {
	    padding-left: 0;
	    width: 100%;
	    padding-top: 20px;
	}
	.msnrytgi1 .overons-msnry-grd-item-img {
	    min-height: 200px;
	}
	.msnrytgi2 .overons-msnry-grd-item-img {
	    height: 280px;
	}
	.msnrytgi3 .overons-msnry-grd-item-img {
	    min-height: 320px;
	}
	.msnrytgi4 .overons-msnry-grd-item-img {
	    height: 240px;
	}
	.msnrytgi3 {
	    margin-top: -80px;
	}
	.overons-msnry-grd-item {
	    width: 50%;
	    padding: 0 8px 20px;
	}
	.overons-msnry-grd-dsc .fl-h2 {
	    color: #2C113E;
	    margin-bottom: 25px;
	}
	.overons-team-module {
	    padding: 30px 30px;
	}
	.overons-team-module-cntlr{
		padding-top: 50px;
		border-top: 1px solid#ECF1F4;
	}
	.overons-team-module .fl-h4{
		text-transform: inherit;
	}
	.overons-team-module p {
	    margin-bottom: 20px;
	}
	.overons-msnry-grd-dsc a{
		display: none;
	}
	.overons-team-parachute-tp {
	    top: -155px;
	    right: 0;
	    width: auto;
	    height: auto;
	}
	.overons-msnry-grd-sec-wrp .contact-form-angle-bg {
	    height: 1000px;
	    bottom: -110px;
	}
	.overons-team-parachute-btm {
	    bottom: 120px;
	    left: 0;
	    width: 60px;
	}
	.overons-msnry-grd-sec-wrp .contact-white-sky-bg {
	    bottom: 0;
	    height: 850px !important;
	}
	.overons-msnry-grd-lft .fl-h1{
		padding-left: 6px;
	}
	.overons-msnry-grd-wrp{
		display: block;
	}
	.boek-parachute-icon {
	    right: auto;
	    bottom: -10px;
	    width: 60px;
	    left: -20px;
	}



}

@media(max-width: 575px){
	.overons-team-img {
	    margin-bottom: 60px;
	}
	.overons-team-parachute-btm {
	    bottom: 140px;
	}
	.msnrytgi1 .overons-msnry-grd-item-img {
	    min-height: 160px;
	}
	.msnrytgi2 .overons-msnry-grd-item-img {
	    height: 240px;
	}
	.msnrytgi3 .overons-msnry-grd-item-img {
	    min-height: 280px;
	}
	.msnrytgi4 .overons-msnry-grd-item-img {
	    height: 200px;
	}
	

}
