.slick-slider ul.slick-dots{
	position: static;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 12px!important;
	height: 12px!important;
	position: static;
	background: #ecf1f4!important;
	border-radius: 100% 100%!important;
	margin: 0 6px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #ee3f14!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 12px;
	height: 12px;
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}

/* == pagination == */
.fl-pagination-ctlr{
	padding-bottom: 64px;
}
.fl-pagination-ctlr ul{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 -22px;
}
.fl-pagination-ctlr ul li{
	padding: 0 22px; 
}
.fl-pagination-ctlr ul li span.current,
.fl-pagination-ctlr ul li a.current{
	background-color: #EE3E15;
	color: #fff;
	width: 28px;
	height: 28px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.fl-pagination-ctlr ul li a, .fl-pagination-ctlr ul li span{
	display: inline-block;
    vertical-align: baseline;
    color: #243444;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #909BA5;
}
.fl-pagination-ctlr ul li a:hover{
	color: #EE3E15;
}

/*breadcrumb*/

.breadcrumb-sec{
	margin-bottom: 45px;
}
.breadcrumb-cntlr{
	padding: 20px 0;
	/*padding-left: 32px;*/
}
.breadcrumb-cntlr ul{
	display: flex;
	align-items: center;
	margin: 0 -16px;

}
.breadcrumb-cntlr ul li{
	padding: 0 16px;
	position: relative;
}
.breadcrumb-cntlr ul li:after{
	position: absolute;
	content: "";
	right: 0;
	top: 50%;
	transform: translate(50%,-50%);
	-ms-transform: translate(50%,-50%);
	-webkit-transform: translate(50%,-50%);
	-o-transform: translate(50%,-50%);
	height: 11px;
	width: 7px;
	background-image: url(../images/brdcmb-arrow.svg);
	margin-top: 1px;
}
.breadcrumb-cntlr ul li:last-child:after{
	content: none;
}
.breadcrumb-cntlr ul li a,
.breadcrumb-cntlr ul li span,
.breadcrumb-cntlr ul li a span{
    font-size: 14px;
    line-height: 1;
    color: #909BA5;
    display: inline-block;
    text-transform: capitalize;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    letter-spacing: 0.02em;
    text-decoration: underline
}
.breadcrumb-cntlr ul li a:hover,
.breadcrumb-cntlr ul li span:hover,
.breadcrumb-cntlr ul li a span:hover{
	color: #EE3E15;
}
.breadcrumb-cntlr ul li.active span{
	text-decoration: none;
}
.breadcrumb-cntlr ul li a{
	position: relative;
}
/*.breadcrumb-cntlr ul li a.fl-home-icon,
.breadcrumb-cntlr ul li:first-child a{
	padding-left: 23px;
}*/
/*.breadcrumb-cntlr ul li a.fl-home-icon:after,
.breadcrumb-cntlr ul li:first-child a:after{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: 0;
	background: url('../images/home-icon.svg');
	background-repeat: no-repeat;
	height: 17px;
	width: 15px;
	background-size: contain;
}*/


@media(max-width: 1399px){
	.fl-pagination-ctlr ul li a, .fl-pagination-ctlr ul li span{
		font-size: 15px;
	}
}

@media(max-width: 1199px){
	.breadcrumb-cntlr ul {
		margin: 0 -15px;
	}
	.breadcrumb-cntlr ul li{
		padding: 0 15px;
	}
	.fl-pagination-ctlr ul{
		margin: 0 -15px;
	}
}

@media (max-width: 991px) {

}

@media(max-width: 767px){
	.breadcrumb-sec{
		display: none;
	}
	.fl-pagination-ctlr ul li a, .fl-pagination-ctlr ul li span{
		font-size: 14px;
	}
}